Hr Shortlisting workflow.json
{
  "name": "Hr Shortlisting workflow - FINAL CLEANED",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Job Application",
        "formFields": {
          "values": [
            { "fieldLabel": "Name", "requiredField": true },
            { "fieldLabel": "Email Adress", "fieldType": "email", "requiredField": true },
            { "fieldLabel": "Submit your Cv", "fieldType": "file", "acceptFileTypes": ".pdf", "requiredField": true }
          ]
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [ 0, 0 ],
      "id": "node-form-trigger",
      "name": "On form submission"
    },
    {
      "parameters": {
        "inputDataFieldName": "Submit_your_Cv",
        "name": "={{ $json.Name }} resume",
        "driveId": { "__rl": true, "value": "My Drive", "mode": "list" },
        "folderId": { "__rl": true, "value": "REPLACE_WITH_YOUR_FOLDER_ID", "mode": "list" }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [ 208, 0 ],
      "id": "node-upload-file",
      "name": "Upload file"
    },
    {
      "parameters": {
        "operation": "create",
        "base": { "__rl": true, "value": "REPLACE_WITH_AIRTABLE_BASE_ID", "mode": "list" },
        "table": { "__rl": true, "value": "REPLACE_WITH_AIRTABLE_TABLE_ID", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Resume Url": "={{ $json.webViewLink }}",
            "Candidate Name": "={{ $('On form submission').item.json.Name }}",
            "Email": "={{ $('On form submission').item.json['Email Adress'] }}",
            "Select": "Pending review"
          }
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [ 416, 0 ],
      "id": "node-airtable-create",
      "name": "Create a record"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": { "__rl": true, "value": "={{ $('Upload file').item.json.id }}", "mode": "id" }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [ 624, 0 ],
      "id": "node-download-file",
      "name": "Download file"
    },
    {
      "parameters": { "operation": "pdf" },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [ 832, 0 ],
      "id": "node-extract-pdf",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\"name\":\"\",\"skills\":[],\"experience_years\":0}"
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [ 1040, 0 ],
      "id": "node-info-extractor",
      "name": "Information Extractor"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [ 976, 208 ],
      "id": "node-gemini-model-1",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\"job_title\": \"AI & Automation Engineer\", \"required_skills\": [\"n8n\", \"APIs\"]}"
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [ 1392, 0 ],
      "id": "node-job-details",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Evaluate candidate: {{ $('Information Extractor').item.json.output.name }} against Job: {{ $json.job_title }}"
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [ 1600, 0 ],
      "id": "node-ai-agent",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [ 1472, 208 ],
      "id": "node-gemini-model-2",
      "name": "Google Gemini Chat Model1"
    },
    {
      "parameters": { "jsonSchemaExample": "{\"score\":0,\"decision\":\"\"}" },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [ 1776, 208 ],
      "id": "node-output-parser",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": { "__rl": true, "value": "REPLACE_WITH_BASE_ID", "mode": "list" },
        "table": { "__rl": true, "value": "REPLACE_WITH_TABLE_ID", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Create a record').item.json.id }}",
            "Select": "={{ $json.output.decision }}"
          },
          "matchingColumns": [ "id" ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [ 1952, 0 ],
      "id": "node-airtable-upsert",
      "name": "Create or update a record"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            { "leftValue": "={{ $json.fields.Select }}", "rightValue": "Shortlisted", "operator": { "type": "string", "operation": "equals" } }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [ 2160, 0 ],
      "id": "node-if-logic",
      "name": "If"
    },
    {
      "parameters": { "subject": "Resume shortlisted", "message": "Dear Candidate..." },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [ 2368, -80 ],
      "id": "node-gmail-shortlist",
      "name": "Send a message"
    },
    {
      "parameters": { "subject": "Application Rejection", "message": "Dear Candidate..." },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [ 2368, 96 ],
      "id": "node-gmail-rejection",
      "name": "Send a message1"
    }
  ],
  "connections": {
    "On form submission": { "main": [[ { "node": "Upload file", "type": "main", "index": 0 } ]] },
    "Upload file": { "main": [[ { "node": "Create a record", "type": "main", "index": 0 } ]] },
    "Create a record": { "main": [[ { "node": "Download file", "type": "main", "index": 0 } ]] },
    "Download file": { "main": [[ { "node": "Extract from File", "type": "main", "index": 0 } ]] },
    "Extract from File": { "main": [[ { "node": "Information Extractor", "type": "main", "index": 0 } ]] },
    "Google Gemini Chat Model": { "ai_languageModel": [[ { "node": "Information Extractor", "type": "ai_languageModel", "index": 0 } ]] },
    "Information Extractor": { "main": [[ { "node": "Edit Fields", "type": "main", "index": 0 } ]] },
    "Edit Fields": { "main": [[ { "node": "AI Agent", "type": "main", "index": 0 } ]] },
    "Google Gemini Chat Model1": { "ai_languageModel": [[ { "node": "AI Agent", "type": "ai_languageModel", "index": 0 } ]] },
    "Structured Output Parser": { "ai_outputParser": [[ { "node": "AI Agent", "type": "ai_outputParser", "index": 0 } ]] },
    "AI Agent": { "main": [[ { "node": "Create or update a record", "type": "main", "index": 0 } ]] },
    "Create or update a record": { "main": [[ { "node": "If", "type": "main", "index": 0 } ]] },
    "If": { "main": [[ { "node": "Send a message", "type": "main", "index": 0 } ], [ { "node": "Send a message1", "type": "main", "index": 0 } ]] }
  },
  "meta": { "instanceId": "REPLACE_WITH_INSTANCE_ID" }
}