Linkedin posting.json
{
  "name": "Linkedin posting",
  "nodes": [
    {
      "parameters": { "options": {} },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [ 16, 656 ],
      "id": "gemini-model-1",
      "name": "Google Gemini Chat Model",
      "credentials": { "googlePalmApi": { "id": "REPLACE_WITH_CREDENTIAL_ID", "name": "Google Gemini API" } }
    },
    {
      "parameters": { "jsonSchemaExample": "{\n\t\"Linkedin\": \"\"\n}" },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [ 144, 656 ],
      "id": "parser-1",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "person": "REPLACE_WITH_YOUR_LINKEDIN_PERSON_ID",
        "text": "={{ $('Merge').item.json['Ai Generated post'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [ 1616, -80 ],
      "id": "linkedin-post",
      "name": "Create a post1",
      "credentials": { "linkedInOAuth2Api": { "id": "REPLACE_WITH_CREDENTIAL_ID", "name": "LinkedIn account" } }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "REPLACE_WITH_YOUR_TELEGRAM_CHAT_ID",
        "message": "=🧠 New AI Content Generated\n\n🔵 LinkedIn Post:\n{{ $json['Ai Generated post'] }}\n\nPlease review and approve.\n",
        "responseType": "customForm",
        "formFields": {
          "values": [
            { "fieldLabel": "Approve/decline", "fieldType": "dropdown", "fieldOptions": { "values": [ { "option": "Approve" }, { "option": "Decline" } ] }, "requiredField": true },
            { "fieldLabel": "Correction", "placeholder": "Remove all the Emojis" }
          ]
        },
        "options": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [ 800, 320 ],
      "id": "telegram-wait",
      "name": "Send message and wait for response",
      "credentials": { "telegramApi": { "id": "REPLACE_WITH_CREDENTIAL_ID", "name": "socials_bot" } }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [ -752, 640 ],
      "id": "manual-trigger",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "REPLACE_WITH_YOUR_SHEET_ID", "mode": "list" },
        "sheetName": { "__rl": true, "value": "gid=0", "mode": "list" },
        "filtersUI": { "values": [ { "lookupColumn": "Status", "lookupValue": "New" } ] }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [ -448, 432 ],
      "id": "gsheets-get",
      "name": "Get row(s) in sheet",
      "credentials": { "googleSheetsOAuth2Api": { "id": "REPLACE_WITH_CREDENTIAL_ID", "name": "Google Sheets account" } }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [ -224, 432 ],
      "id": "node-limit",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "REPLACE_WITH_YOUR_SHEET_ID", "mode": "list" },
        "sheetName": { "__rl": true, "value": "gid=0", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": { "Status": "Inprogress", "Ideas": "={{ $('Limit').item.json.Ideas }}", "Ai Generated post": "={{ $json.output.Linkedin }}" },
          "matchingColumns": [ "Ideas" ]
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [ 352, 432 ],
      "id": "gsheets-update-1",
      "name": "Update row in sheet",
      "credentials": { "googleSheetsOAuth2Api": { "id": "REPLACE_WITH_CREDENTIAL_ID", "name": "Google Sheets account" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [ { "leftValue": "={{ $json.data['Approve/decline'] }}", "rightValue": "Approve", "operator": { "type": "string", "operation": "equals" } } ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [ 1024, 320 ],
      "id": "node-if-approve",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "REPLACE_WITH_YOUR_SHEET_ID", "mode": "list" },
        "sheetName": { "__rl": true, "value": "gid=0", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": { "Ai Generated post": "={{ $json.output.Linkedin }}", "Ideas": "={{ $('Update row in sheet').item.json.Ideas }}" },
          "matchingColumns": [ "Ideas" ]
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [ 2032, 656 ],
      "id": "gsheets-update-revised",
      "name": "Update row in sheet1",
      "credentials": { "googleSheetsOAuth2Api": { "id": "REPLACE_WITH_CREDENTIAL_ID", "name": "Google Sheets account" } }
    },
    {
      "parameters": { "jsonSchemaExample": "{\n\t\"Linkedin\": \"\"\n}" },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [ 1792, 912 ],
      "id": "parser-2",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": { "options": {} },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [ 1632, 944 ],
      "id": "gemini-model-2",
      "name": "Google Gemini Chat Model1",
      "credentials": { "googlePalmApi": { "id": "REPLACE_WITH_CREDENTIAL_ID", "name": "Google Gemini API" } }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [ 576, 432 ],
      "id": "node-merge",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "REPLACE_WITH_YOUR_SHEET_ID", "mode": "list" },
        "sheetName": { "__rl": true, "value": "gid=0", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": { "Ideas": "={{ $('Merge').item.json.Ideas }}", "Status": "Posted", "date posted": "={{$today}}" },
          "matchingColumns": [ "Ideas" ]
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [ 1328, -80 ],
      "id": "gsheets-update-posted",
      "name": "Update row in sheet2",
      "credentials": { "googleSheetsOAuth2Api": { "id": "REPLACE_WITH_CREDENTIAL_ID", "name": "Google Sheets account" } }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You will receive a content idea... (SLAY methodology prompt) ...",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [ 0, 432 ],
      "id": "li-generator",
      "name": "LinkedIn Post generator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are revising a LinkedIn post... (Editor methodology prompt) ...",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [ 1648, 640 ],
      "id": "li-revisor",
      "name": "Post revisor"
    },
    {
      "parameters": { "rule": { "interval": [ { "daysInterval": 3, "triggerAtHour": 18 } ] } },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [ -800, 432 ],
      "id": "schedule-trigger",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [ { "leftValue": "={{ $json.data.Correction }}", "operator": { "type": "string", "operation": "empty" } } ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [ 1200, 336 ],
      "id": "node-if-correction",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "REPLACE_WITH_YOUR_SHEET_ID", "mode": "list" },
        "sheetName": { "__rl": true, "value": "gid=0", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": { "Status": "Rejected", "Ideas": "={{ $('Merge').item.json.Ideas }}", "Ai Generated post": "={{ $('Merge').item.json['Ai Generated post'] }}" },
          "matchingColumns": [ "Ideas" ]
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [ 1584, 320 ],
      "id": "gsheets-update-rejected",
      "name": "Update row in sheet3",
      "credentials": { "googleSheetsOAuth2Api": { "id": "REPLACE_WITH_CREDENTIAL_ID", "name": "Google Sheets account" } }
    }
  ],
  "connections": {
    "Google Gemini Chat Model": { "ai_languageModel": [[ { "node": "LinkedIn Post generator", "type": "ai_languageModel", "index": 0 } ]] },
    "Structured Output Parser": { "ai_outputParser": [[ { "node": "LinkedIn Post generator", "type": "ai_outputParser", "index": 0 } ]] },
    "Send message and wait for response": { "main": [[ { "node": "If1", "type": "main", "index": 0 } ]] },
    "When clicking ‘Execute workflow’": { "main": [[ { "node": "Get row(s) in sheet", "type": "main", "index": 0 } ]] },
    "Get row(s) in sheet": { "main": [[ { "node": "Limit", "type": "main", "index": 0 } ]] },
    "Limit": { "main": [[ { "node": "LinkedIn Post generator", "type": "main", "index": 0 } ]] },
    "Update row in sheet": { "main": [[ { "node": "Merge", "type": "main", "index": 0 } ]] },
    "If1": { "main": [[ { "node": "Update row in sheet2", "type": "main", "index": 0 } ], [ { "node": "If", "type": "main", "index": 0 } ]] },
    "Structured Output Parser1": { "ai_outputParser": [[ { "node": "Post revisor", "type": "ai_outputParser", "index": 0 } ]] },
    "Update row in sheet1": { "main": [[ { "node": "Merge", "type": "main", "index": 1 } ]] },
    "Google Gemini Chat Model1": { "ai_languageModel": [[ { "node": "Post revisor", "type": "ai_languageModel", "index": 0 } ]] },
    "Merge": { "main": [[ { "node": "Send message and wait for response", "type": "main", "index": 0 } ]] },
    "Update row in sheet2": { "main": [[ { "node": "Create a post1", "type": "main", "index": 0 } ]] },
    "LinkedIn Post generator": { "main": [[ { "node": "Update row in sheet", "type": "main", "index": 0 } ]] },
    "Post revisor": { "main": [[ { "node": "Update row in sheet1", "type": "main", "index": 0 } ]] },
    "Schedule Trigger": { "main": [[ { "node": "Get row(s) in sheet", "type": "main", "index": 0 } ]] },
    "If": { "main": [[ { "node": "Update row in sheet3", "type": "main", "index": 0 } ], [ { "node": "Post revisor", "type": "main", "index": 0 } ]] }
  }
}