ready to use digital assets (1).json
{
  "name": "ready to use digital assets",
  "nodes": [
    {
      "parameters": {
        "updates": [ "message" ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [ -304, -32 ],
      "id": "telegram-trigger-id",
      "name": "Telegram Trigger",
      "credentials": {
        "telegramApi": {
          "id": "CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Logic for parsing product name, type, description, and display mode\n// ... (Original JS logic preserved) ..."
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ -80, -32 ],
      "id": "code-parser-id",
      "name": "Code"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.document.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [ 368, -32 ],
      "id": "telegram-get-file-id",
      "name": "Get a file",
      "credentials": {
        "telegramApi": {
          "id": "CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Product Information: ... (Prompt logic preserved) ...",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=### ROLE\nYou are a Senior Creative Director... (System message logic preserved) ..."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [ 816, -32 ],
      "id": "ai-creative-agent-id",
      "name": "AI Agent",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [ 832, 192 ],
      "id": "gemini-chat-model-id",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "CREDENTIAL_ID",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{ \"demoScript\": \"...\" }"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [ 960, 192 ],
      "id": "structured-output-id",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [ 2064, -32 ],
      "id": "telegram-send-photo-id",
      "name": "Send a photo message",
      "credentials": {
        "telegramApi": {
          "id": "CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={ \"brandName\": \"LUMINA BEAUTY\", ... }",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [ 144, -32 ],
      "id": "set-brand-info-id",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-image-preview:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "REPLACE_WITH_YOUR_GEMINI_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ ... }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [ 1616, -32 ],
      "id": "http-gemini-request-id",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [ 1392, -32 ],
      "id": "extract-file-id",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list"
        },
        "text": "=Role: You are a high-end product forensic analyst...",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [ 592, -32 ],
      "id": "analyze-image-id",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "CREDENTIAL_ID",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.document.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [ 1168, -32 ],
      "id": "telegram-get-file-final-id",
      "name": "Get a file1",
      "credentials": {
        "telegramApi": {
          "id": "CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "candidates[0].content.parts[0].inlineData.data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [ 1840, -32 ],
      "id": "convert-to-file-id",
      "name": "Convert to File"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": { "main": [[ { "node": "Code", "type": "main", "index": 0 } ]] },
    "Code": { "main": [[ { "node": "Edit Fields2", "type": "main", "index": 0 } ]] },
    "Get a file": { "main": [[ { "node": "Analyze an image", "type": "main", "index": 0 } ]] },
    "Google Gemini Chat Model": { "ai_languageModel": [[ { "node": "AI Agent", "type": "ai_languageModel", "index": 0 } ]] },
    "Structured Output Parser": { "ai_outputParser": [[ { "node": "AI Agent", "type": "ai_outputParser", "index": 0 } ]] },
    "AI Agent": { "main": [[ { "node": "Get a file1", "type": "main", "index": 0 } ]] },
    "Edit Fields2": { "main": [[ { "node": "Get a file", "type": "main", "index": 0 } ]] },
    "HTTP Request": { "main": [[ { "node": "Convert to File", "type": "main", "index": 0 } ]] },
    "Extract from File": { "main": [[ { "node": "HTTP Request", "type": "main", "index": 0 } ]] },
    "Analyze an image": { "main": [[ { "node": "AI Agent", "type": "main", "index": 0 } ]] },
    "Get a file1": { "main": [[ { "node": "Extract from File", "type": "main", "index": 0 } ]] },
    "Convert to File": { "main": [[ { "node": "Send a photo message", "type": "main", "index": 0 } ]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "instanceId": "REPLACE_WITH_INSTANCE_ID" },
  "tags": []
}